@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Inicio</li>
        </ol>
    </nav>
    
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> Inicio </h1>

    </div>

</div>
